body {
    background-image: url(https://i.pinimg.com/736x/64/0d/03/640d03161d0f9fcc77b98f3bfe44631c.jpg);
    background-size: cover;
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, p {
    text-align: center;
    color: #2e1a0f;
  }
  
  .catalog {
    width: 80%;
    background-color: #f5deb3cc;
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 10px;
  }
  
  .item p {
    display: inline-block;
    margin: 0.5rem 0;
  }
  
  .title {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  